 <section id="content">
    <h3 class="admin">Ausstehende Bestelllungen</h3>
    <%if false #@orders != [] 
    %>
      <ul>
        <%= @orders.each do |order| %>
        <li>ID: <%= order.id %> | <%= Trashcan.find(order.trashcan_id).address %><br>
            von <%= User.find(order.user_id).name %> | <a href=' <%= Design.find(order.design_id).image_path %>'>Design</a> | <%= link_to "Best채tigen", order_confirm_path(order) %> / <%= link_to "Ablehnen", order_decline_path(order) %>
        </li>
      <% end %>
      </ul>
    <% else %>
    <p>Momentan liegen keine Bestellungen vor.</p>
    <% end %>
        	<h3 class="admin"> Vorhandene M체lleimer </h3>

        	<%if @trashcans != [] %>
				<table class="trashcan">
					<tr>
						<th></th>
						<th></th>
						<th>ID</th>
						<th>Adress</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Is_free</th>
						<th>Adopted_until</th>
						<th>Created_at</th>
						<th>Updated_at</th>
					</tr>
				
				
					<% @trashcans.each do |trashcan| %>
					<tr>
						<td class="gleichbreit"><%= link_to image_tag("/images/delete.png"), trashcan, :method => :delete, 
						 	:confirm => "Attention:\nAre you sure to delete trashcan?", :title => "Delete #{trashcan.address}"
							%>
						</td>
						<td class="gleichbreit"><%= link_to image_tag("/images/edit.png"), edit_trashcan_path(trashcan) %></td>
						<td class="gleichbreit"><%= trashcan.id %></td>
						<td><%= trashcan.address %></td>
						<td><%= trashcan.latitude %></td>
						<td><%= trashcan.longitude %></td>
						<td><%= trashcan.is_free %></td> 
						<td><%= trashcan.adopted_until %></td>
						<td><%= trashcan.created_at %></td>
						<td><%= trashcan.updated_at %></td>
					</tr>
					<% end %>
				</table>
			<% else %>
				<p>Noch keine M체lleimer vorhanden</p>
			<% end %>
			


	<h3 class="admin">Neue M체lleimer</h3>
<%if @demands != [] %>
	<table class="trashcan">
		<tr>
			<th></th>
			<th></th>
			<th>ID</th>
			<th>Adress</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Votes</th>
		</tr>
	

		<% @demands.each do |demand| %>
		<tr>
			<td class="gleichbreit"><%= link_to image_tag("../images/delete.png"), demand, :method => :delete, 
			 	:confirm => "Attention:\nAre you sure to delete this demand?", :title => "Delete #{demand.address}"
				%>
			</td>
			<td class="gleichbreit"><%= link_to image_tag("../images/edit.png"), edit_demand_path(demand) %></td>
			<td class="gleichbreit"><%= demand.id %></td>
			<td><%= demand.address %></td>
			<td><%= demand.latitude %></td>
			<td><%= demand.longitude %></td>
			<td><%= demand.counter %></td> 
		</tr>
		<% end %>
	</table>	
<% else %>
	<p>Noch keine Votings vorhanden</p>
<% end %>

</section>
