 <section id="content">

		<%= form_for(@trashcan, :html => { :class => "editform"} ) do |f| %>
		<h1 class="admin">Mistkübel bearbeiten</h1>
			<%= render 'shared/error_messages', :object => f.object %>

			  <%= f.label :id %>
			  <%= f.text_field :id %>

			  <%= f.label :Adresse %>
			  <%= f.text_field :address %>

			  <%= f.label :Frei? %>
			  <%= f.text_field :is_free %>

			  <%= f.label :Pate_bis %>
			  <%= f.text_field :adopted_until %>

			  <%= f.submit "Speichern" %>
		<% end %>
</section>
