 <section id="content">

		<%= form_for(@trashcan, :html => { :class => "editform"} ) do |f| %>
		<h1 class="admin">Mistkübel bearbeiten</h1>
			<%= render 'shared/error_messages', :object => f.object %>

			  <%= f.label :id %>
			  <%= f.text_field :id %>

			  <%= f.label :Adresse %>
			  <%= f.text_field :address %>

			  <%= f.label :Frei? %>
			  <%= f.check_box :is_free %>

	
			   <%= f.label :Pate_bis %>
			  <%= f.date_select :adopted_until, :order => [:day, :month, :year] %>
			  
			  <%= f.submit "Speichern" %>
		<% end %>
</section>
