<%= form_tag '/demands/vote', :remote => true, :url => {:controller => 'demands', :action => 'vote'} do %>
  <%= hidden_field_tag :id,  demand.id %>
  <% if demand[0] %>
  		<img src="/images/media/ranking_1.png" alt="Platz 1" class="ranking_1_3" />
  <% end %>

  <% if demand[1] %>
  		<img src="/images/media/ranking_2.png" alt="Platz 2" class="ranking_1_3" />
  <% end %>
  
  <% if demand[2] %>
  		<img src="/images/media/ranking_3.png" alt="Platz 3" class="ranking_1_3" />
  <% end %>
  
  <span class="top_address"><%= demand.address %></span>
  <span class="top_counter", id="counter_<%= demand.id %>"><%= demand.counter %></span>
  <p>Stimmen</p><% if !cookies[:demand] %>
    <%= submit_tag "Vote", :disabled => false, :class => "vote_button", :id => "#{demand.id}" %>

  <% else %>
    <%= submit_tag "Vote", :disabled => true, :class => "vote_button"  %>
    <p>Du kannst nur alle 24h abstimmen!</p>
  <% end %>
<% end %>
