<%= form_tag demand_vote_path, :remote => true, :class => 'top_vote_form' do %>
  <%= hidden_field_tag :id,  demand.id %>
  <span class="top_address"><%= demand.address %></span>
  <span class="top_counter", id="counter_<%= demand.id %>"><%= demand.counter %></span>
  <p>Stimmen</p><% if !cookies[:demand] %>
    <%= submit_tag "", :disabled => false, :class => "vote_button", :id => "#{demand.id}" %>

  <% else %>
    <%= submit_tag "", :disabled => true, :class => "vote_button", :id => "#{demand.id}"  %>
    <p>Du kannst nur alle 24h abstimmen!</p>
  <% end %>
<% end %>
