 <section id="content">

	<%= form_for(@demand, :html => { :class => "editform"} ) do |f| %>
		<h3 class="admin">Neue Mülleimer bearbeiten</h3>
		<%= render 'shared/error_messages', :object => f.object %>

		  <%= f.label :id %>
		  <%= f.text_field :id %>

		  <%= f.label :address %>
		  <%= f.text_field :address %>

		  <%= f.submit "Speichern" %>
	<% end %>
