 <section id="content">

	<%= form_for(@demand, :html => { :class => "editform"} ) do |f| %>
		<h1 class="admin">Voting bearbeiten</h1>
		<%= render 'shared/error_messages', :object => f.object %>

		  <%= f.label :id %>
		  <%= f.text_field :id %>

		  <%= f.label :address %>
		  <%= f.text_field :address %>

		  <%= f.submit "Change" %>
	<% end %>
