   <section id="content">
    
    	<div id="step1" class="step">
        
        	<h1>Mülleimer-Patenschaft</h1>
         	<div class="infoblase_l" id="b01">
         		<h2>Ausgangssituation</h2>
         		<p>In der heutigen Gesellschaft wird zwar viel über Mülltrennung und Recycling geredet, jedoch fehlt in der Regel weiterhin das Bewusstsein für die Müll-Problematik und die damit einhergehende eigene Verantwortung der Menschen. Des Weiteren sind oftmals zu wenige öffentliche Mülleimer in der Stadt vorhanden oder werden schlicht weg nicht wahrgenommen. Hier knüpft auch das Problem des Littering (achtloses Wegwerfen und Liegenlassen von Müll im öffentlichen Raum) an, das erhebliche Kosten verursacht, das Stadtbild verunstaltet und Umweltprobleme hervorruft.</p>
            </div>
            <div class="infoblase_l" id="b02">
         		<h2>Projekt Trashcanny</h2>
         		<p>Wir, fünf StudentInnen der FH Salzburg, haben das Projekt TRASHCANNY ins Leben gerufen, um gezielt auf die Müll-Thematik aufmerksam zu machen. Für einen öffentlichen Mülleimer kann gegen einen geringen Betrag eine Patenschaft übernommen werden. Im Zuge der Patenschaft erhält der Pate die Möglichkeit, den von ihm/ihr ausgewählten Mülleimer zu gestalten. Das gesammelte Geld wird sinnvoll eingesetzt, indem Sensibilisierungskampagnen gestartet und neue Lösungsansätze für eine sauberes Stadtbild gefördert werden.</p>
            </div>
            <div class="infoblase_m" id="b03">
         		<h2>Was hat das mit dir zu tun?</h2>
         		<p>DU kannst Mülleimer-Pate werden. Für 5 EUR gehst du eine Patenschaft für einen Mülleimer deiner Wahl ein. Als Pate hast du die Möglichkeit, einen Mülleimer in deiner Stadt zu gestalten und somit auf diesen aufmerksam zu machen. Dein Mülleimer wird von einem grauen unscheinbaren Behältnis zu einem individuellen Teil des Stadtbildes. Dadurch wird dieser nicht mehr übersehen und die Umgebung sauber gehalten.</p>
            </div>            
            <div class="infoblase_m" id="b04">
         		<h2>Was wollen wir erreichen?</h2>
         		<p>Durch unser Projekt soll das Thema Littering in den öffentlichen Fokus gestellt und dadurch eine Verbesserung des momentanen Situation erreicht werden. Weiters wollen wir jede/n Einzelne/n dazu motivieren, Eigenverantwortung zu übernehmen, indem er/sie einen kleinen Beitrag leistet und somit etwas Großes bewirkt werden kann. </p>
            </div> 
            <a href="#" class="toScroll" rel="step2"><img src="/images/media/pfeil.png" alt="Schritt 2"/></a>
        </div>

       <div id="step2" class="step">
        	<h1>Mogra Video</h1>
        	<%= image_tag "/images/media/player.png" %>
       </div>
       
       <div id="step3" class="step">
        	<h1> Mülleimer auswählen </h1>
         	<p> Hier kannst Du sehen, welche öffentliche Mülleimer bereits einen Paten haben. Wähle einen noch freien Mülleimer aus </p>
        	<div id="map">
            	<div id="map_wahl">
                	<input type="text" name="suche" size="50" />
                    <div id="alle"><input type="submit" name="abschicken" value="alle Mülleimer anzeigen" class="button"/></div>
                    <div id="frei"><input type="submit" name="abschicken" value="freie Mülleimer anzeigen" class="button"/></div>
				</div>
            	
					<%= gmaps( "markers" => {"data" => @markers}, "map_options" => {"map_container_id" => "map_box"}
					) %>
					<!-- NOTE: do not add (inline) css to div#map, neither put content within div#map. otherwise map won't get loaded -->
					<div id="map_box">
					</div>
            
            </div>
        	<div></div>
           	<!--<div class="icons"> <img src="media/icons.png" alt="" title="" /> </div>-->
        <a class="toScroll" rel="step3">Schritt 3 >></a>    
        </div>


    	<div id="step4" class="step">
        
        	<h1> Mülleimer gestalten </h1>
         	<p> Erstelle mit Hilfe des Editors dein Wunschdesign, das auf dem Mülleimer angebracht werden soll. </p>

           	<!--<div class="icons"> <img src="media/icons.png" alt="" title="" /> </div>-->
            <%= render 'editor' %>

          <a class="toScroll" rel="step4">Schritt 4 >></a>  

        </div>    
        

  		<div id="step5" class="step">
        
        	<h1> Pate werden </h1>
         	<p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit 
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            <div id="formular">
				 <%= form_for @user, :url => orders_path do |f| %>
					  <%= render 'shared/error_messages', :object => f.object %>

					<%= f.fields_for :orders do |t| %>
						<%= t.label :design_id %>
						<%= t.text_field :design_id  %>
						<%= t.label "TrashcanID" %>
						<%= t.text_field :trashcan_id %>
					<% end %>

					<%= f.label :email %>
					<%= f.text_field :email %>

					<%= f.label :name %>
					<%= f.text_field :name %>

					<%= f.label "Strasse:" %>
					<%= f.text_field :street %>

					<%= f.label "Stadt:" %>
					<%= f.text_field :city %>

					<%= f.submit "", :id => "pate_werden" %>
				<% end %>
            </div>
           	<!--<div class="icons"> <img src="media/icons.png" alt="" title="" /> </div>-->
            <a class="toScroll" rel="step1">Seitenanfang>></a>
        </div>     
        
    </section>




