   <section id="content">
    
    	<div id="step1" class="step">
    	
         	<div class="headblase_schatten" id="hb01">
        		<div class="headblase">
        			<h1>Mülleimer-Patenschaft</h1>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>
        	
         	<div class="schatten_l" id="ib01">
         		<div class="infoblase_l">
         			<h2>Was läuft derzeit schief?</h2>
         			<p>In der heutigen Gesellschaft wird zwar viel &uuml;ber M&uuml;lltrennung und Recycling geredet, jedoch fehlt in der Regel weiterhin das Bewusstsein f&uuml;r die M&uuml;ll-Problematik und die damit einhergehende Eigenverantwortung der Menschen. Des Weiteren sind oftmals zu wenig öffentliche M&uuml;lleimer in der Stadt vorhanden oder werden schlicht weg nicht wahrgenommen. Hier kn&uuml;pft auch das Problem des Littering (achtloses Wegwerfen und Liegenlassen von M&uuml;ll im öffentlichen Raum) an, das Umweltprobleme und erhebliche Kosten verursacht, sowie das Stadtbild verunstaltet.</p>
            	</div>
            	<img src="/images/media/infoblase_spitz.png" />
            </div>
            
         	<div class="schatten_l" id="ib02">
            	<div class="infoblase_l">
         			<h2>Projekt Trashcanny</h2>
         			<p>Wir, f&uuml;nf StudentInnen der FH Salzburg, haben das Projekt TRASHCANNY ins Leben gerufen, um gezielt auf die M&uuml;ll-Thematik aufmerksam zu machen. Für einen öffentlichen M&uuml;lleimer kann gegen einen geringen Betrag eine Patenschaft &uuml;bernommen werden. Im Zuge der Patenschaft erhält der Pate die Möglichkeit, den ausgewählten M&uuml;lleimer zu gestalten. Das gesammelte Geld wird sinnvoll eingesetzt, indem Sensibilisierungskampagnen gestartet und neue Lösungsansätze für eine sauberes Stadtbild gefördert werden.</p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" />
           	</div>

         	<div class="schatten_m" id="ib03">
            	<div class="infoblase_m">
         			<h2>Was hat das mit dir zu tun?</h2>
         			<p>DU kannst M&uuml;lleimer-Pate werden. F&uuml;r 5 EUR gehst Du eine Patenschaft f&uuml;r einen M&uuml;lleimer Deiner Wahl ein. Als Pate hast Du die Möglichkeit, einen M&uuml;lleimer in Deiner Stadt zu gestalten und somit auf diesen aufmerksam zu machen. Dein M&uuml;lleimer wird von einem grauen unscheinbaren Behältnis zu einem individuellen Teil des Stadtbildes. Dadurch wird dieser nicht mehr &uuml;bersehen und die Umgebung sauber gehalten.</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
           	</div>    
           	
         	<div class="schatten_m" id="ib04">
            	<div class="infoblase_m">
         			<h2>Was wollen wir erreichen?</h2>
         			<p>Durch unser Projekt soll das Thema Littering in den öffentlichen Fokus gestellt und dadurch eine Verbesserung des momentanen Situation erreicht werden. Weiters wollen wir Menschen dazu motivieren, Eigenverantwortung zu &uuml;bernehmen, indem sie einen kleinen Beitrag leisten und somit etwas Großes bewirkt werden kann. </p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
            </div> 
            
            <a class="toScroll" rel="step2"><img src="/images/media/pfeil.png" alt="Schritt 2"/></a>
        </div>

       <div id="step2" class="step">
         	<div class="headblase_schatten" id="hb02">
        		<div class="headblase">
        			<h1>Informationsvideo</h1>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>
        	<div><iframe src="http://player.vimeo.com/video/20701329?portrait=0&color=ffffff" width="700" height="420" frameborder="0" style="margin-top:20px"></iframe></div>
            <a class="toScroll" rel="step3"><img src="/images/media/pfeil.png" alt="Schritt 3"/></a>
       </div>
       
       <div id="step3" class="step">
         	<div class="headblase_schatten" id="hb03">
        		<div class="headblase">
        			<h1>Mülleimer auswählen</h1>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>         	
        	<p>In dieser Karte sind alle öffentlichen M&uuml;lleimer eingezeichnet. Wenn du Pate werden willst, wähle einen noch freien M&uuml;lleimer aus. Jene M&uuml;lleimer, die bereits einen Paten haben, sind mit einem Herz in der Mitte gekennzeichnet.</p>
        	<div id="map">
            	<div id="map_wahl">
                	<input type="text" name="suche" size="50" />
                    <div id="alle"><input type="submit" name="abschicken" value="alle Mülleimer anzeigen" class="button"/></div>
                    <div id="frei"><input type="submit" name="abschicken" value="freie Mülleimer anzeigen" class="button"/></div>
				</div>
            	
					<%= gmaps( "markers" => {"data" => @markers}, "map_options" => {"map_container_id" => "map_box"}
					) %>
					<!-- NOTE: do not add (inline) css to div#map, neither put content within div#map. otherwise map won't get loaded -->
					<div id="map_box">
					</div>
            
            </div>
        	<div></div>
            <a class="toScroll" rel="step4"><img src="/images/media/pfeil.png" alt="Schritt 4"/></a>
        </div>

    	<div id="step4" class="step">
         	<div class="headblase_schatten" id="hb04">
        		<div class="headblase">
        			<h1>Mülleimer gestalten</h1>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>         	
        	<p>Wenn du einen Mülleimer ausgewählt hast, kannst du ihn mit Hilfe des Editors individuell gestalten. Sobald du mit deinem Design zufrieden bist, klicke auf "Design übernehmen" und dein Entwurf wird automatisch im nachfolgenden Formular gespeichert.</p>

            <%= render 'editor' %>

            <a class="toScroll" rel="step5"><img src="/images/media/pfeil.png" alt="Schritt 5"/></a>

        </div>    
        
  		<div id="step5" class="step">
         	<div class="headblase_schatten" id="hb05">
        		<div class="headblase">
        			<h1>Pate werden</h1>
            		<div><img src="/images/media/headblase_spitz.png" /></div>
            	</div>
        	</div>         	
        	<p>Wenn du nun alle Schritte erledigt hast und eine Patenschaft übernehmen willst, musst du nur noch das Formular ausf&uuml;llen und "Pate werden". Schon bald wird dein Wunschdesign auf dem von dir ausgewählten M&uuml;lleimer zu bewundern sein. Yeah!</p>
            <div id="formular">
				 <%= form_for @user, :url => orders_path do |f| %>
					  <%= render 'shared/error_messages', :object => f.object %>

					<%= f.fields_for :orders do |t| %>
						<%= t.label :design_id %>
						<%= t.text_field :design_id  %>
						<%= t.label "TrashcanID" %>
						<%= t.text_field :trashcan_id %>
					<% end %>

					<%= f.label :email %>
					<%= f.text_field :email %>

					<%= f.label :name %>
					<%= f.text_field :name %>

					<%= f.label "Strasse:" %>
					<%= f.text_field :street %>

					<%= f.label "Stadt:" %>
					<%= f.text_field :city %>

					<%= f.submit "", :id => "pate_werden" %>
				<% end %>
            </div>
            <a class="toScroll" rel="zusammenarbeit"><img src="/images/media/pfeil.png" alt="Footer"/></a>
        </div>     
       
		
    </section>




