   <section id="content">
    
    	<div id="step1" class="step">
    	
         	<div class="schatten_h" id="hb01">
        		<div class="headblase">
        			<h1>Mülleimer-Patenschaft</h1>
            		<div><img src="/images/media/headblase_spitz.png" alt="Spitz" /></div>
            	</div>
        	</div>
        	
         	<div class="schatten" id="ib_01_01">
         		<div class="infoblase_l">
         			<h2>Was läuft derzeit schief?</h2>
         			<p>In der heutigen Gesellschaft wird zwar viel &uuml;ber M&uuml;lltrennung und Recycling geredet, jedoch fehlt in der Regel weiterhin das <strong>Bewusstsein</strong> f&uuml;r die <strong>M&uuml;ll-Problematik</strong> und die damit einhergehende <strong>Eigenverantwortung</strong> der Menschen. Des Weiteren sind oftmals zu wenig öffentliche M&uuml;lleimer in der Stadt vorhanden oder werden schlicht weg nicht wahrgenommen. Hier kn&uuml;pft auch das Problem des <strong>Littering</strong> (achtloses Wegwerfen und Liegenlassen von M&uuml;ll im öffentlichen Raum) an, das Umweltprobleme und erhebliche Kosten verursacht, sowie das Stadtbild verunstaltet.</p>
            	</div>
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
            </div>
            
         	<div class="schatten" id="ib_01_02">
            	<div class="infoblase_l">
         			<h2>Projekt Trashcanny</h2>
         			<p>Wir, sechs StudentInnen der FH Salzburg, haben das Projekt <strong>TRASHCANNY</strong> ins Leben gerufen, um gezielt auf die <strong>M&uuml;ll-Thematik</strong> aufmerksam zu machen. Für einen öffentlichen M&uuml;lleimer kann gegen einen geringen Betrag eine <strong>Patenschaft</strong> &uuml;bernommen werden. Im Zuge der Patenschaft erhält der Pate die Möglichkeit, den ausgewählten M&uuml;lleimer zu gestalten. Das gesammelte Geld wird sinnvoll eingesetzt, indem <strong>Sensibilisierungskampagnen</strong> gestartet und neue Lösungsansätze für ein <strong>sauberes Stadtbild</strong> gefördert werden.</p>
           		</div>
           		<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
           	</div>

         	<div class="schatten_l" id="ib_01_03">
            	<div class="infoblase_m">
         			<h2>Was hat das mit dir zu tun?</h2>
         			<p>Du kannst <strong>M&uuml;lleimer-Pate</strong> werden. F&uuml;r 5 EUR gehst Du eine Patenschaft f&uuml;r einen M&uuml;lleimer Deiner Wahl ein. Als Pate hast Du die Möglichkeit, einen M&uuml;lleimer in Deiner Stadt zu <strong>gestalten</strong> und somit auf diesen <strong>aufmerksam</strong> zu machen. Dein M&uuml;lleimer wird von einem grauen unscheinbaren Behältnis zu einem individuellen Teil des Stadtbildes. Dadurch wird dieser nicht mehr &uuml;bersehen und die Umgebung sauber gehalten.</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
           	</div>    
           	
         	<div class="schatten_l" id="ib_01_04">
            	<div class="infoblase_m">
         			<h2>Was wollen wir erreichen?</h2>
         			<p>Durch unser Projekt soll das Thema Littering in den öffentlichen <strong>Fokus</strong> gestellt und dadurch eine <strong>Verbesserung</strong> des momentanen Situation erreicht werden. Weiters wollen wir Menschen dazu motivieren, Eigenverantwortung zu &uuml;bernehmen, indem sie einen kleinen Beitrag leisten und somit etwas <strong>Großes</strong> bewirkt werden kann. </p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
            </div> 
            <p class="pfeiltext">Klicke auf den Pfeil und Du gelangst zum nächsten Schritt.</p>
            <a class="toScroll" rel="step2"></a>
        </div>

       <div id="step2" class="step">
        	<div id="video" class="praegeflaeche"><iframe src="http://player.vimeo.com/video/24854557?title=0&amp;byline=0&amp;portrait=0" width="640" height="358" frameborder="0"></iframe></div>
         	<div class="schatten_s" id="ib_02_01">
            	<div class="infoblase_l">
         			<p>Du bist Dir noch nicht ganz sicher, was das Ganze soll? In diesem <strong>Video</strong> erhälst Du nochmal eine kurze <strong>Zusammenfassung</strong> aller wichtigen Informationen.</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
            </div> 
            <a class="toScroll" rel="step3"></a>
       </div>
       
       <div id="step3" class="step">
         	<div class="schatten_h" id="hb03">
        		<div class="headblase">
        			<h1>Mülleimer auswählen</h1>
            		<div><img src="/images/media/headblase_spitz.png" alt="Spitz" /></div>
            	</div>
        	</div>         	
         	<div class="schatten_l" id="ib_03_01">
            	<div class="infoblase_l">
                     <p>In dieser Karte sind alle öffentlichen M&uuml;lleimer eingezeichnet. Wenn Du Pate werden willst, wähle einen noch freien M&uuml;lleimer <img src="/images/media/icon_frei_legende.png" class="legende" alt="Legende" /> aus. Jene M&uuml;lleimer, die bereits einen Paten haben, sind mit einem Herz in der Mitte gekennzeichnet. <img src="/images/media/icon_pate_legende.png" class="legende" alt="Legende" /></p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
			</div>
			<div id="map" class="praegeflaeche">
            	<div id="map_wahl">
                	<form id="search" onSubmit="return searchForStreet(this.suche.value);">
                        <input type="text" name="suche" size="50" placeholder="Adresse suchen" />
                        <input type="submit" value="" id="sucheSubmit" />
                    </form>
				</div>
            	
					<%= gmaps( "markers" => {"data" => @markers}, "map_options" => {"map_container_id" => "map_box", "auto_adjust" => true, "auto_zoom" => true, "zoom" => 15}
					) %>
					<!-- NOTE: do not add (inline) css to div#map, neither put content within div#map. otherwise map won't get loaded -->
					<div id="map_box">
					</div>
            
            </div>
        	<div></div>
            <a class="toScroll" rel="step4"></a>
        </div>

    	<div id="step4" class="step">
         	<div class="schatten_h" id="hb04">
        		<div class="headblase">
        			<h1>Mülleimer gestalten</h1>
            		<div><img src="/images/media/headblase_spitz.png" alt="Spitz" /></div>
            	</div>
        	</div>         	
         	<div class="schatten_l" id="ib_04_01">
            	<div class="infoblase_l">
					<p>Wenn Du einen Mülleimer ausgewählt hast, kannst Du ihn mit Hilfe des <strong>Editors</strong> individuell gestalten. Sobald Du mit Deinem Design zufrieden bist, klicke auf <strong>"Design übernehmen"</strong> und Dein Entwurf wird automatisch im nachfolgenden Formular gespeichert.</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" alt="Spitz" />
			</div>
			
			<div id="editor" class="praegeflaeche">
            	<%= render 'editor' %>
			</div>
            <a class="toScroll" rel="step5"></a>

        </div>    
        
  		<div id="step5" class="step">
         	<div class="schatten_h" id="hb05">
        		<div class="headblase">
        			<h1>Pate werden</h1>
            		<div><img src="/images/media/headblase_spitz.png" alt="Spitz" /></div>
            	</div>
        	</div>         	
         	<div class="schatten_l" id="ib_05_01">
            	<div class="infoblase_l">
				<p>Wenn Du nun alle Schritte erledigt hast und eine Patenschaft übernehmen willst, musst Du nur noch das Formular ausf&uuml;llen und <strong>"Pate werden"</strong>. Schon bald wird Dein Wunschdesign auf dem von Dir ausgewählten M&uuml;lleimer zu bewundern sein. Yeah!</p>
            	</div>   
            	<img src="/images/media/infoblase_spitz.png" />
			</div>
            <div id="formular">
				 <%= form_for @user , :url => orders_path do |t| %>
					  <%= render 'shared/error_messages', :object => t.object %>
                       
                       <div class="form_kasten_1">
                       <%= t.label :name %>
                       <%= t.text_field :name, :size => 30 %>
                    
                       <%= t.label "E-Mail" %>
                       <%= t.text_field :email, :size => 30  %>
					   </div>
					   
					   <div class="form_kasten_2">
                       <% t.fields_for :orders do |f| %>
					        <%= f.hidden_field :trashcan_id %>                   
                            <%= f.fields_for :design do |d| %>
                                <%= d.text_area :xml_data, :id => "xmlOutput", :cols => 0, :rows => 0 %>
                            <% end %>
                        <% end %>                          


                    <ul class="form_checked">
                        <li id="isTrashcanSet"><img id="isTrashcanSetImage" src="/images/icon_muelleimer_uebernommen_inaktiv.png" /><span id="isTrashcanSetText">kein M&uuml;lleimer &uuml;bernommen</span></li>
                        <li id="isDesignSet"><img id="isDesignSetImage" src="/images/icon_design_uebernommen_inaktiv.png" /><span id="isDesignSetText">kein Design ausgew&auml;hlt</span></li>
                    </ul>

					<%= t.submit "", :id => "pate_werden" %>
					
					</div>
				<% end %>
            </div>
            <a class="toScroll" rel="step1" id="pfeil_oben"></a>
        </div>     
       
       
		
    </section>




