<!DOCTYPE html>
<html>
<head>
  <title>TRASHCANNY | Mülleimer-Patenschaft</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag  'jquery.scrollTo-min', 'jquery.cookie', 'jquery-ui', 'jquery.reversegeocode.min', 'gears_init', 'jquery.class.min', 'editor' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
  <%= stylesheet_link_tag :all %>
</head>
<body>
<div id="cat"></div>
<% flash.each do |key, value| %>			
				<div class="flash <%= key %>">
					<%= value %>
				</div>
<% end %>


<div id="wrapper">
	<nav>
	    <div id="logo">
	            <%= link_to image_tag("/images/media/logo.png", :border=>0), :controller => 'pages', :action => 'home' %>
	    </div>
	        
	    <ul id="nav_haupt">
	        <% if controller?("pages") && action?("home")  %>
	        <li class="active">
	        <%else%><li><% end %>
	        <%=link_to 'Pate werden', pages_home_path %></li>
	    
	        <% if controller?("demands") && action?("index")  %>
	        <li class="active">
	        <%else%><li><% end %>
	        <%= link_to 'Mitbestimmen', demands_path %></li>

	       	<% if controller?("pages") && action?("info")  %>
	        <li class="active">
	        <%else%><li><% end %>
	        <%=link_to 'Bildergalerie', pages_info_path %></li>
	        
	        <!--
	        <% if controller?("admins") && action?("index") %>
	        <li class="active">
	        <% elsif controller?("trashcans") && action?("edit") %>
	        <li class="active">
	        <% elsif controller?("demands") && action?("edit") %>
	        <li class="active">
	        <%else%><li><% end %>
	        <%=link_to '(Admin)', admins_path  %> </li>
	        -->

	    </ul>

	</nav>
	
	<div id="kontakt">
		<%=link_to '', {:controller => "pages", :action => "contact"} %>
	</div>

	<div id="border_top"></div>

<%= yield %>
<%= yield :scripts %>

<!-- brauchen wir nicht mehr, da footer nicht mehr wirklich vorhanden

	<% 	if(( !controller?("admins") && !action?("edit") ) and ( !controller?("trashcans") && !action?("index") )) %>
		<%= render 'layouts/footer' %> 
	 <% end %>
	<% 	if controller?("demands") && !action?("edit") %>
		<%= render 'layouts/footer' %> 
	 <% end %>
-->

</div>


</body>
</html>
