<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag  'jquery.scrollTo-min', 'mmt', 'jquery.min', 'jquery.cookie', 'jquery-ui', 'jquery.reversegeocode.min', 'gears_init' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
<script type="text/javascript">



</script>

</head>
<body>
<div id="cat"></div>
<% flash.each do |key, value| %>			
				<div class="flash <%= key %>">
					<%= value %>
				</div>
<% end %>  


<p><%=link_to 'Home', pages_home_path %> <%=link_to 'Info', pages_info_path %> <%= link_to 'Demands', demands_path %> <%=link_to 'Admin', admins_path  %>
</p>


<%= yield %>

<%= yield :scripts %>


</body>
</html>
